<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBLService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:60027/BLService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBLService" contract="IBLService"
                name="NetTcpBinding_IBLService">
                <identity>
                    <userPrincipalName value="Lux-PC-2015\Lux" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>