<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="basicHttp" closeTimeout="00:10:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="BLService.BLService">
				<endpoint address="BLService" binding="basicHttpBinding" bindingConfiguration="basicHttp"
                    contract="BLService.IBLService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:51868" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>