<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
    <add name="WCFEntities" connectionString="metadata=res://*/WCFModel.csdl|res://*/WCFModel.ssdl|res://*/WCFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XITI\SQLEXPRESS;initial catalog=WCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBLService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51434/BLService.svc/BLService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBLService"
                contract="BLService.IBLService" name="BasicHttpBinding_IBLService" />
        </client>
    </system.serviceModel>
</configuration>